<html>
    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Welcome!</title>
        {% endif %}
    </head>
    <body>
        <div>
            <h1>Are you, or your student, on track?</h1>
            <table>
                <tr>
                    <td><label for="grade_1">First Test Grade</label></td>
                    <td><input id="grade_1" name="grade_1" type="number"></td>
                </tr>
                <tr>
                    <td><label for="grade_2">Second Test Grade</label></td>
                    <td><input id="grade_2" name="grade_2" type="number"></td>
                </tr>
                <tr>
                    <td><label for=""</td>
                </tr>
            </table>
        </div>
    </body>
</html>